* {
    padding: 0;
    margin: 0;
}

:root {
    --colorPrimaryButton: #4671ff;
    --textButton: #ece8e1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.466)), url(./img/sanjiZoro.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 48%;
    
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>div{
    width: 41%;
    height: 75%;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: -0.001rem -0.001rem 0.4rem #000;
}

form{
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização da Imagem Sanji e h1 */
form>figure{
    background-image: url(./img/sanji.jpeg);
    width: 11vw;
    height: 22vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
}

form>h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #376274;
    margin-bottom: 2rem;
}

/* Estilização dos Labels e Inputs */
form>label{
    width: 13vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #376274;
    margin-left: -10rem;
    margin-bottom: 0.3rem;
}

form>input{
    width: 27vw;
    height: 6.1vh;
    text-align: left;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    margin-bottom: 1.7rem;
    margin-left: 2.3rem;
    border-color: #c7c7c7;
    border-style: solid;
    color: #c7c7c7;
    padding-left: 1rem;
}

/* Vi que Atualmente não é possivel trocar o estilo da senha em um <input type="password" />
Mas usando <input type="text" style="-webkit-text-security" e Estilizando muda, mas só em alguns navegadores como Chrome e Safari/>*/

input:focus{
    outline: none;
}

input:hover{
    background-color: whitesmoke;
    color: #000000;
}

/* Botão */
button{
    width: 31%;
    height: 25%;
    padding: 1rem;
    background-color: var(--colorPrimaryButton);
    border-radius: 0.8rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--textButton);
}

button:hover{
    background-color: blue;
    cursor: pointer;
    transition: 0.2s;
}