* {
    padding: 0;
    margin: 0;
}

:root {
    --colorPrimaryButton: #4671ff;
    --textButton: #ece8e1;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.466), rgba(255, 255, 255, 0.466)), url(./img/sanjiZoro.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 48%;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>form{
    width: 40vw;
    height: 74vh;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: -0.001rem -0.001rem 0.4rem #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilização da Imagem Sanji e h1 */
div>figure{
    background-image: url(./img/sanji.jpeg);
    width: 9%;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

div>h1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #376274;
}

/* Estilização dos Labels e Inputs */

#campos{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label{
    width: 26%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    color: #376274;
    margin-bottom: 0.3rem;
}

input{
    width: 26%;
    height: 18%;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    margin-bottom: 1.2rem;
    border-color: #c7c7c7;
    border-style: solid;
    color: #c7c7c7;
    padding-left: 1rem;
}

/* Vi que Atualmente não é possivel trocar o estilo da senha em um <input type="password" />
Mas usando <input type="text" style="-webkit-text-security" e Estilizando muda, mas só em alguns navegadores como Chrome e Safari/>*/

input:focus{
    outline: none;
}

input:hover{
    background-color: whitesmoke;
    color: #000000;
}

/* Complemento */

h2{
    margin-left: 15rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    padding: 0.2rem;
}

h2:hover{
    color: var(--colorPrimaryButton);
    cursor: pointer;
    font-size: 1rem;
    transition: 0.1s;
}


/* Botão */
button{
    width: 33%;
    height: 12%;
    padding: 1rem;
    background-color: var(--colorPrimaryButton);
    border-radius: 0.8rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--textButton);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button:hover{
    background-color: blue;
    cursor: pointer;
    transition: 0.2s;
}